{% extends 'base.html' %} 
{% load static %} 
{% block title %}change-password-page{% endblock %} 
{% block content %}

<div class="container form">
    <h2>Change Password</h2>
    <form method="post" action="{% url 'change_password' %}" >
        {% csrf_token %}
        <div class="form-group">
            <input type="password"  name="old_password" placeholder="Enter old password">
        </div>
        <div class="form-group">
            <input type="password"  name="new_password1" placeholder="Enter new password">
        </div>
        <div class="form-group">
            <input type="password"  name="new_password2" placeholder="Confirm your password" >
        </div>
        <input type="submit" value="Save"/>
    </form>
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success mt-2" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}

