{% extends 'base.html' %} 
{% load static %} 
{% block title %}home-page{% endblock %} 
{% block content %}

<div id="carouselExampleFade" class="carousel slide carousel-fade w-100" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="{% static 'images/carusel-1.jpg' %}" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
                <h1>
                    WE ENSURE <span>BETTER EDUCATION</span><br />
                    FOR A BETTER WORLD
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quam harum nostrum voluptatem vitae,
                    minima, facilis aspernatur recusandae possimus optio incidunt sapiente perspiciatis quod modi nobis quo
                    sint error totam.
                </p>
                <a href="{% url 'about' %}" class="btn btn-custom-2"
                    >Learn More<span> <i class="fa-solid fa-arrow-up-right-from-square"></i></span
                ></a>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'images/carusel-2.jpg' %}" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
                <h1>
                    WE ENSURE <span>BETTER EDUCATION</span><br />
                    FOR A BETTER WORLD
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quam harum nostrum voluptatem vitae,
                    minima, facilis aspernatur recusandae possimus optio incidunt sapiente perspiciatis quod modi nobis quo
                    sint error totam.
                </p>
                <a href="{% url 'about' %}" class="btn btn-custom-2"
                    >Learn More<span> <i class="fa-solid fa-arrow-up-right-from-square"></i></span
                ></a>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'images/carusel-3.jpg' %}" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
                <h1>
                    WE ENSURE <span>BETTER EDUCATION</span><br />
                    FOR A BETTER WORLD
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quam harum nostrum voluptatem vitae,
                    minima, facilis aspernatur recusandae possimus optio incidunt sapiente perspiciatis quod modi nobis quo
                    sint error totam.
                </p>
                <a href="{% url 'about' %}" class="btn btn-custom-2"
                    >Learn More<span> <i class="fa-solid fa-arrow-up-right-from-square"></i></span
                ></a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}
