{% extends 'base.html' %} 
{% load static %} 
{% block title %}staff-dashboard-page{% endblock %} 
{% block content %}
<body style="background-color: bisque;">
    
<h4 style="color: #fff;"><marquee behavior="alternate" direction="right" scrollamount="12" style="background-color: dimgray">.........WELCOME TO {{user.username}} PAGE.........</marquee></h4>

        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card text-white bg-secondary mt-5 ml-2" style="max-width: 18rem;">
                        <div class="card-header"><h3>{{user.username}}</h3></div>
                        <div class="card-body">
                          <h1 class="card-title">ID : {{ user.id }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="card text-white bg-secondary mt-5 ml-2" style="max-width: 18rem;">
                            <div class="card-header"><h3>Total Students</h3></div>
                            <div class="card-body">
                              <h1 class="card-title">{{ total_students }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>
               
    






{% endblock %}



{% if profile_image %}
<img src="{{ profile_image }}" alt="Profile Image">
{% else %}
<p>No profile image available.</p>
{% endif %}